[Unit]
Description=mysqld_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=mysqld_exporter
Group=mysqld_exporter
Restart=on-failure
Type=simple
ExecStart=/usr/local/bin/mysqld_exporter

[Install]
WantedBy=multi-user.target
